<li>
  <label for="zone-controller">Sterownik<span class="required" title="Wymagane">*</span></label>
  <select id="zone-controller" name="zone.controller" class="short select" data-placeholder="Wybierz sterownik..." data-type="<%- zone.controller.type %>">
    <option>
  </select>
<li class="controller-info" data-type="modbus-tcp">
  <ul class="fields">
    <li>
      <label for="zone-modbus-tcp-state-unit">Jednostka stanu strefy</label>
      <input id="zone-modbus-tcp-state-unit" name="zone.controllerInfo.stateUnit" class="short textline" type="number" min="0" max="255" value="<%= zone.controllerInfo.stateUnit %>">
    <li>
      <label for="zone-modbus-tcp-state-output">Wyjście stanu strefy</label>
      <input id="zone-modbus-tcp-state-output" name="zone.controllerInfo.stateOutput" class="short textline" type="number" min="0" max="65535" value="<%= zone.controllerInfo.stateOutput %>">
    <li>
      <label for="zone-modbus-tcp-green-unit">Jednostka zielonej lampy</label>
      <input id="zone-modbus-tcp-green-unit" name="zone.controllerInfo.greenLedUnit" class="short textline" type="number" min="0" max="255" value="<%= zone.controllerInfo.greenLedUnit %>">
    <li>
      <label for="zone-modbus-tcp-green-output">Wyjście zielonej lampy</label>
      <input id="zone-modbus-tcp-green-output" name="zone.controllerInfo.greenLedOutput" class="short textline" type="number" min="0" max="65535" value="<%= zone.controllerInfo.greenLedOutput %>">
    <li>
      <label for="zone-modbus-tcp-red-unit">Jednostka czerwonej lampy</label>
      <input id="zone-modbus-tcp-red-unit" name="zone.controllerInfo.redLedUnit" class="short textline" type="number" min="0" max="255" value="<%= zone.controllerInfo.redLedUnit %>">
    <li>
      <label for="zone-modbus-tcp-red-output">Wyjście czerwony lampy</label>
      <input id="zone-modbus-tcp-red-output" name="zone.controllerInfo.redLedOutput" class="short textline" type="number" min="0" max="65535" value="<%= zone.controllerInfo.redLedOutput %>">
    <li>
      <label for="zone-modbus-tcp-stop-unit">Jednostka przycisku stop</label>
      <input id="zone-modbus-tcp-stop-unit" name="zone.controllerInfo.stopButtonUnit" class="short textline" type="number" min="0" max="255" value="<%= zone.controllerInfo.stopButtonUnit %>">
    <li>
      <label for="zone-modbus-tcp-stop-input">Wejście przycisku stop</label>
      <input id="zone-modbus-tcp-stop-input" name="zone.controllerInfo.stopButtonInput" class="short textline" type="number" min="0" max="65535" value="<%= zone.controllerInfo.stopButtonInput %>">
    <li>
      <label for="zone-modbus-tcp-connected-unit">Jednostka zasilania wózka</label>
      <input id="zone-modbus-tcp-connected-unit" name="zone.controllerInfo.connectedUnit" class="short textline" type="number" min="0" max="255" value="<%= zone.controllerInfo.connectedUnit %>">
    <li>
      <label for="zone-modbus-tcp-connected-input">Wejście zasilania wózka</label>
      <input id="zone-modbus-tcp-connected-input" name="zone.controllerInfo.connectedInput" class="short textline" type="number" min="0" max="65535" value="<%= zone.controllerInfo.connectedInput %>">
  </ul>
<li class="controller-info" data-type="libcoap">
  <ul class="fields">
    <li>
      <label for="zone-libcoap-state-resource">Zasób stanu strefy</label>
      <input id="zone-libcoap-state-resource" name="zone.controllerInfo.stateResource" class="short textline" type="text" value="<%= zone.controllerInfo.stateResource %>">
    <li>
      <label for="zone-libcoap-green-resource">Zasób zielonej lampy</label>
      <input id="zone-libcoap-green-resource" name="zone.controllerInfo.greenLedResource" class="short textline" type="text" value="<%= zone.controllerInfo.greenLedResource %>">
    <li>
      <label for="zone-libcoap-red-resource">Zasób czerwonej lampy</label>
      <input id="zone-libcoap-red-resource" name="zone.controllerInfo.redLedResource" class="short textline" type="text" value="<%= zone.controllerInfo.redLedResource %>">
    <li>
      <label for="zone-libcoap-stop-resource">Zasób przycisku stop</label>
      <input id="zone-libcoap-stop-resource" name="zone.controllerInfo.stopButtonResource" class="short textline" type="text" value="<%= zone.controllerInfo.stopButtonResource %>">
     <li>
      <label for="zone-libcoap-connected-resource">Zasób zasilania wózka</label>
      <input id="zone-libcoap-connected-resource" name="zone.controllerInfo.connectedResource" class="short textline" type="text" value="<%= zone.controllerInfo.connectedResource %>">
  </ul>
