<div class="properties">
  <div class="property">
    <span class="property-name">Nazwa:</span>
    <span class="property-value"><%- zone.name %></span>
  </div>
  <div class="property">
    <span class="property-name">Przypisany program:</span>
    <span class="property-value">
      <% if (zone.program._id) { %>
      <a href="#programs/<%- zone.program._id %>"><%- zone.program.name %></a>
      <% } else { %>
      -
      <% } %>
    </span>
  </div>
  <div class="property">
    <span class="property-name">Sterownik:</span>
    <span class="property-value">
      <% if (zone.controller._id) { %>
      <a href="#controllers/<%- zone.controller._id %>"><%- zone.controller.name %></a>
      <% } else { %>
      -
      <% } %>
    </span>
  </div>
  <% if (zone.controller.type === 'modbus-tcp') { %>
  <div class="property">
    <span class="property-name">Adres stanu strefy:</span>
    <span class="property-value">
      Wyjście <code><%- zone.controllerInfo.stateOutput %></code>
      w jednostce <code><%- zone.controllerInfo.stateUnit %></code>
    </span>
  </div>
  <div class="property">
    <span class="property-name">Adres zielonej lampy:</span>
    <span class="property-value">
      Wyjście <code><%- zone.controllerInfo.greenLedOutput %></code>
      w jednostce <code><%- zone.controllerInfo.greenLedUnit %></code>
    </span>
  </div>
  <div class="property">
    <span class="property-name">Adres czerwonej lampy:</span>
    <span class="property-value">
      Wyjście <code><%- zone.controllerInfo.redLedOutput %></code>
      w jednostce <code><%- zone.controllerInfo.redLedUnit %></code>
    </span>
  </div>
  <div class="property">
    <span class="property-name">Adres przycisku stop:</span>
    <span class="property-value">
      Wejście <code><%- zone.controllerInfo.stopButtonInput %></code>
      w jednostce <code><%- zone.controllerInfo.stopButtonUnit %></code>
    </span>
  </div>
  <% } %>
  <% if (zone.controller.type === 'libcoap') { %>
  <div class="property">
    <span class="property-name">Zasób stanu strefy:</span>
    <span class="property-value"><code><%- zone.controllerInfo.stateResource %></code></span>
  </div>
  <div class="property">
    <span class="property-name">Zasób zielonej lampy:</span>
    <span class="property-value"><code><%- zone.controllerInfo.greenLedResource %></code></span>
  </div>
  <div class="property">
    <span class="property-name">Zasób czerwonej lampy:</span>
    <span class="property-value"><code><%- zone.controllerInfo.redLedResource %></code></span>
  </div>
  <div class="property">
    <span class="property-name">Zasób przycisku stop:</span>
    <span class="property-value"><code><%- zone.controllerInfo.stopButtonResource %></code></span>
  </div>
  <% } %>
</div>
