<form class="zone form" method="post" action="<%- action %>">
  <input type="submit">
  <ul class="fields">
    <li>
      <label for="zone-name">Nazwa<span class="required" title="Wymagane">*</span></label>
      <input id="zone-name" name="zone.name" class="full textline" type="text" autofocus value="<%= zone.name %>" maxlength="25">
    <li>
      <input id="zone-autostart" name="zone.autostart" class="checkbox" type="checkbox" value="1" <%= zone.autostart ? 'checked' : '' %>>
      <label for="zone-autostart">Uruchom przy starcie systemu</label>
  </ul>
</form>
