<div class="zone" data-zone="<%- zoneId %>">
  <h3 class="zone-header">
    <div class="zone-led"></div>
    <span class="zone-name"><%- zoneName %></span> <span class="zone-program"><%- programName %></span>
    <input class="zone-action-start action blue" type="button" value="Start">
    <input class="zone-action-stop action red" type="button" value="Stop">
  </h3>
  <div class="zone-progress">
    <div class="zone-bar">
      <div class="zone-bar-value">&nbsp;</div>
      <span class="zone-end-time"><%- endTime %></span>
    </div>
  </div>
</div>
