<div class="properties">
  <div class="property">
    <span class="property-name">Nazwa:</span>
    <span class="property-value"><%- program.name %></span>
  </div>
  <div class="property">
    <span class="property-name">Powtarzany w nieskończoność:</span>
    <span class="property-value"><%- program.infinite ? 'Tak' : 'Nie' %></span>
  </div>
  <div class="property">
    <span class="property-name">Kroki:</span>
    <% if (program.steps.length) { %>
    <canvas class="program-plot" width=1 height=1></canvas>
    <div class="program-steps"></div>
    <% } else { %>
    <span class="property-value">-</span>
    <% } %>
  </div>
</div>
