<div class="properties">
  <div class="property">
    <span class="property-name">Nazwa:</span>
    <span class="property-value"><%- controller.name %></span>
  </div>
  <div class="property">
    <span class="property-name">Typ:</span>
    <span class="property-value"><%- controller.typeText %></span>
  </div>
  <div class="property">
    <span class="property-name">Autostart:</span>
    <span class="property-value"><%- controller.autostart ? 'Tak' : 'Nie' %></span>
  </div>
  <% if (controller.type === 'modbus-tcp') { %>
  <div class="property">
    <span class="property-name">Host:</span>
    <span class="property-value"><code><%- controller.connectionInfo.host || '127.0.0.1' %></code></span>
  </div>
  <div class="property">
    <span class="property-name">Port:</span>
    <span class="property-value"><code><%- controller.connectionInfo.port || 502 %></code></span>
  </div>
  <% } %>
  <% if (controller.type === 'libcoap') { %>
  <div class="property">
    <span class="property-name">URI:</span>
    <span class="property-value"><code><%- controller.connectionInfo.uri %></code></span>
  </div>
  <% } %>
  <% if (controller.type === 'remote-libcoap') { %>
  <div class="property">
    <span class="property-name">URI:</span>
    <span class="property-value"><code><%- controller.connectionInfo.uri %></code></span>
  </div>
  <% } %>
  <% if (controller.type === 'cf-proxy-08') { %>
  <div class="property">
    <span class="property-name">IP:</span>
    <span class="property-value"><code><%- controller.connectionInfo.ip %></code></span>
  </div>
  <% } %>
</div>
