<form method="post" action="/login" class="content">
  <ul class="fields">
    <li>
      <label for="loginForm-login">Login:</label>
      <input id="loginForm-login" name="login" class="short textline" type="text" autofocus>
    <li>
      <label for="loginForm-password">Hasło:</label>
      <input id="loginForm-password" name="password" class="short textline" type="password">
    <li>
      <ul class="actions">
        <li><input type="submit" class="button" value="Zaloguj się">
        <li><a class="cancel" href="#">Anuluj</a>
      </ul>
  </ul>
</form>
