<form id="loginForm" method="post" action="/login">
  <fieldset>
    <legend>Logowanie</legend>
    <ol class="form-fields">
      <li>
        <label for="loginForm-username">Login:</label>
        <input id="loginForm-username" name="username" type="text">
      </li>
      <li>
        <label for="loginForm-password">Hasło:</label>
        <input id="loginForm-password" name="password" type="password">
      </li>
      <li>
        <ol class="form-actions">
          <li><input type="submit" value="Zaloguj się"></li>
          <li><a class="cancel" href="#">Anuluj</a></li>
        </ol>
      </li>
    </ol>
  </fieldset>
</form>
