<li class="refresh-link"><a title="Odśwież tę stronę" href="/">↻</a>
<li class="help-link"><a title="Pomoc" href="/help/">?</a>
<li class="back-link"><a title="Wróć do poprzedniej strony" href="/">⇦</a>
<li class="dashboard-link"><a href="#">Dashboard</a>
<li class="history-link"><a href="#history">Historia</a>
<li class="programs-link"><a href="#programs">Programy</a>
<li class="zones-link"><a href="#zones">Strefy</a>
<li class="controllers-link"><a href="#controllers">Sterowniki</a>
<li class="users-link"><a href="#users">Użytkownicy</a>
<li class="diag-link"><a href="#diag">Diagnostyka</a>
<li class="login-link"><a href="#login">Zaloguj się</a>
<li class="logout-link"><a href="#logout">Wyloguj się</a>
