.historyEntriesContainer {
  padding: 0 1em 1em 1em;
}
.historyEntries {
  width: 100%;
  border-collapse: collapse;
  background: #FFF;
  box-shadow: 0 1px 3px #666;
}
.historyEntries th {
  padding: .5em;
  font-size: 1.4em;
  font-weight: bold;
  background: #F1F1F1;
  background: -moz-linear-gradient(#FFF, #F1F1F1);
  background: -webkit-linear-gradient(#FFF, #F1F1F1);
  background: -o-linear-gradient(#FFF, #F1F1F1);
  background: -ms-linear-gradient(#FFF, #F1F1F1);
  background: linear-gradient(#FFF, #F1F1F1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F1F1F1');
  border: 1px solid #D4D4D4;
  border-top: 0;
  border-left: 0;
}
.historyEntries tr:hover td {
  background-color: #39F;
  color: #FFF;
}
.historyEntries td {
  padding: 0 .5em;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  border: 1px solid #D4D4D4;
  border-bottom: 0;
  border-left: 0;
  cursor: pointer;
}
.historyEntries td:last-child,
.historyEntries th:last-child {
  border-right: 0;
}
.historyEntries .state {
  width: 2em;
  height: 3em;
}
.historyFilter .fields > li {
  display: inline-block;
  margin-top: 0;
  margin-right: 1em;
}
#historyFilterState {
  margin-right: 0;
}
#historyFilterState > label {
  margin-bottom: .5em;
}

.goToChart {
  margin: 1em;
  text-align: center;
}
.chartContainer {
  padding: 1em;
}
.chart {
  margin-top: 1em;
}
.stats .tooltip {
  display: none;
  position: absolute;
  width: auto;
  height: 14px;
  line-height: 14px;
  padding: 4px 6px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #333;
  border: 2px solid #333;
  border-radius: 2px;
  text-shadow: #333 1px 1px 1px;
  opacity: 1;
  z-index: 2;
}
.stats .tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  top: 23px;
  left: 50%;
  margin-left: -6px;
}
.stats h2 {
  font-size: 1.6em;
  text-align: center;
}
