table.program-steps {
  width: 100%;
}
.program-steps tr {
  border-top: 1px dotted rgba(130, 130, 130, .3);
}
.program-steps th {
  font-weight: bold;
  padding: .5em .25em;
}
.program-steps.mutable th {
  cursor: pointer;
}
.program-steps th:first-child,
.program-steps.mutable th:last-child {
  width: 1%;
}
.program-steps td {
  padding: .5em .25em;
  vertical-align: middle;
}
.program-steps tfoot {
  text-align: right;
}
.program-steps tfoot td {
  padding-bottom: 0;
}
.program-steps .button {
  width: 6em;
}
.program-step-template {
  display: none;
}
.program-steps tr:last-child td {
  padding-bottom: 0;
}
