<h2>Serwer aplikacji</h2>
<div class="app content box">
  <div class="property">
    <span class="property-name">Czas uruchomienia:</span>
    <span class="property-value"><%- startedAt %></span>
  </div>
  <div class="property">
    <span class="property-name">Uptime:</span>
    <span class="property-value" data-property="uptime" data-startTime="<%- startTime %>">-</span>
  </div>
  <div class="property" data-property="eth0">
    <span class="property-name">IP (eth0):</span>
    <span class="property-value"><%- eth0 || '-' %></span>
  </div>
  <div class="property" data-property="wlan0">
    <span class="property-name">IP (wlan0):</span>
    <span class="property-value"><%- wlan0 || '-' %></span>
  </div>
</div>

<h2>Uruchomione programy</h2>
<p class="content box noProgramsMessage">Aktualnie nie ma uruchomionych żadnych programów.</p>
<div class="programs container">
  <table>
    <thead>
      <tr>
        <th>Nazwa
        <th>Sterownik
        <th>Uruchomiony przez
        <th>Czas uruchomienia
        <th>Uptime
        <th>Akcje
      <tbody>
  </table>
</div>

<h2>Strefy</h2>
<p class="content box noZonesMessage">Aktualnie nie ma żadnych stref.</p>
<div class="zones container">
  <table>
    <thead>
      <tr>
        <th>Nazwa
        <th>Sterownik
        <th>Czas uruchomienia
        <th>Uptime
        <th>Wykonywany program
        <th>Akcje
    <tbody>
  </table>
</div>

<h2>Sterowniki</h2>
<p class="content box noControllersMessage">Aktualnie nie ma żadnych sterowników.</p>
<div class="controllers container">
  <table>
    <thead>
      <tr>
        <th>Nazwa
        <th>Czas uruchomienia
        <th>Uptime
        <th>Czas wykonania żądania
        <th>Akcje
    <tbody>
  </table>
</div>
