<svg class="graph" width="100%" height="600"></svg>
<button class="action blue devscan">Devscan</button>
<ul class="diagGraphLegend">
  <li><span class="diagGraphLegendController offline"></span> Wyłączony lub nieznany sterownik
  <li><span class="diagGraphLegendController online"></span> Niedostępny sterownik
  <li><span class="diagGraphLegendController available"></span> Dostępny sterownik
  <li><span class="diagGraphLegendZone offline"></span> Wyłączona strefa
  <li><span class="diagGraphLegendZone disconnected"></span> Niedostępna strefa
  <li><span class="diagGraphLegendZone connected"></span> Strefa gotowa do pracy
  <li><span class="diagGraphLegendZone programRunning"></span> Strefa wykonuje program
  <li><span class="diagGraphLegendZone programFinished"></span> Strefa zakończyła wykonywanie programu
  <li><span class="diagGraphLegendZone programStopped"></span> Zatrzymano program na strefie
  <li><span class="diagGraphLegendZone programErrored"></span> Błąd podczas wykonywania programu na strefie
</ul>
