<td data-property="program"><a href="#programs/<%- programId %>"><%- programName %></a>
<td data-property="zone"><a href="#zones/<%- zoneId %>"><%- zoneName %></a>
<td data-property="startUser">
  <% if (typeof startUserId === 'string') { %>
  <a href="#zones/<%- startUserId %>"><%- startUserName %></a>
  <% } else { %>
  <%- startUserName %>
  <% } %>
<td data-property="startedAt"><%- startedAt %>
<td data-property="uptime" data-startTime="<%- startTime %>">0
<td class="actions">
  <input class="red stop action" type="button" value="Stop">
