<td data-property="name"><a href="#zones/<%- _id %>"><%- name %></a>
<td data-property="controller">
  <% if (controller) { %>
  <a href="#controllers/<%- controller._id %>"><%- controller.name %></a>
  <% } else { %>
  -
  <% } %>
<td data-property="startedAt"><%- startedAt %>
<td data-property="uptime" data-startTime="<%- startTime %>">0
<td data-property="program">-
<td class="actions">
  <input class="green start action" type="button" value="Start">
  <input class="red stop action" type="button" value="Stop">
