<div class="state" title="Gotowy do pracy :)"></div>
<h1>
  <span data-property="name" title="Strefa"><%- name %></span>:
  <span class="assignedProgram" title="Przypisany program">
    <% if (assignedProgram) { %>
    <a class="programPreview" href="#programs/<%- assignedProgram._id %>" data-programProperty="assignedProgram">
      <%- assignedProgram.name %>
    </a>
    <% } else { %>
    -
    <% } %>
  </span>
</h1>
<p class="actionMessage needsReset">
  Wymagany<br>
  ręczny<br>
  reset
</p>
<p class="actionMessage needsPlugIn">
  Wymagane<br>
  podłączenie<br>
  wózka
</p>
<a class="startProgram action green">Start</a>
