<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wygrzewanie opraw LED</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<script>window.USER = <%- user %></script>
<!--[if lt IE 9]>
<script src="/vendor/es5-shim/es5-shim.min.js"></script>
<![endif]-->
<script src="/vendor/jquery-min.js"></script>
<script src="/vendor/underscore-min.js"></script>
<script src="/vendor/backbone-min.js"></script>
<script data-main="app/min" src="/vendor/require/require.js"></script>
</body>
</html>
